<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-lg-12">
              <h5>Thông tin kho</h5>
            </div>
          </div>
        </div>
        <div class="card-body">
        <div class="card-body">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table  table-hover"> </table>
        </div>
      </div>
    </div>

  </div>
</div>