<div *blockUI="'blockui'">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thêm tài khoản ngân hàng</h5>
        <button type="button" class="close" (click)="activeModal.dismiss('x')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="theme-form" name="myform" [formGroup]="myform">
            <div class="form-group row">
                <label class="col-sm-6 col-form-label">Số tài khoản (*)</label>
                <div class="col-sm-6">
                    <input type="text" [(ngModel)]="dataModel.BankAccount" formControlName="BankAccount" placeholder="Số tài khoản..." class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.BankAccount.errors }" required />
                    <div *ngIf="submitted && f.BankAccount.errors?.required" class="invalid-feedback">
                        Số tài khoản không được để trống
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label">Ngân hàng<span>*</span></label>
                <div class="col-sm-6">
                    <ng-select [items]="listBankName" placeholder="ngân hàng..." formControlName="BankName" [virtualScroll]="true"  bindLabel="name" bindValue="id"
                        [ngClass]="{ 'is-invalid': submitted && f.BankName.errors }" required class="custom-select2">
                    </ng-select>
                    <div *ngIf="submitted && f.BankName.errors?.required" class="invalid-feedback">
                        Ngân hàng không được để trống
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label">Chi nhánh</label>
                <div class="col-sm-6">
                    <input type="text" placeholder="chi nhánh..." formControlName="Branch" class="form-control"  />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label">Tỉnh T/P</label>
                <div class="col-sm-6">
                    <input type="text" placeholder="tỉnh T/P..." formControlName="Province" class="form-control"  />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label">Địa chỉ</label>
                <div class="col-sm-6">
                    <input type="text" placeholder="địa chỉ..." formControlName="Address" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label">Chủ tài khoản</label>
                <div class="col-sm-6">
                    <input type="text" placeholder="chủ tài khoản..." formControlName="Owner" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="message-text"  class="col-form-label">Ghi chú</label>
                <textarea class="form-control" placeholder="ghi chú..." id="message-text"
                    formControlName="Notes"></textarea>
            </div>
            <div class="modal-footer">
                <div style="margin-right: 310px;">
                    <input type="checkbox" (click)="updateActive($event)"  /><span style="margin-left: 1px;">Ngừng theo dõi</span>
                </div>
                <button type="button" class="btn btn-primary" (click)="onAddNew()">Lưu</button>
                <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('x')">Thoát</button>
            </div>
        </form>
    </div>
</div>